:root 
{
    --color-white: #fff;
    --color-black: #000;
    --purple-1--: #743fc7;
    --purple-2--: #7c72ff;
    --purple-3--: #7641c7;
    --text-color--: #758d97;
    --body--: #0d1117;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--body--);
    font-family: 'Poppins', sans-serif;
}

/* NAV START */

.main-page 
{
    width: 100%;
    overflow: hidden;
}

.main-page #bg-1
{
    background-color: transparent;
    position: absolute;
    margin-top: 60px;
    margin-left: 650px;
    width: 950px;
    height: 600px;
}

.main-page .nav
{
    margin: 10px 0 0 10px;
    font-size: 15px;
    display: flex;
    align-items: center;
    color: var(--color-white);
}

.main-page .nav .right-nav
{
    margin-left: 135px;
}

.main-page .nav .nav-item
{
    transition: all 0.2s ease-in-out;
    margin: 8px;
    cursor: pointer;
}

.main-page .nav .nav-item:hover
{
    color: #aaaaaa;
}

.main-page .nav .input1
{
    border: 1px solid #a5a5a5;
    position: relative;
    padding: 10px;
    height: 30px;
    width: 22em;
    border-radius: 6px;
    color: var(--color-white);
    background-color: #1f2b3d;
}

.main-page .nav .signin
{
    transition: all 0.2s ease-in-out;
    padding: 8px;
    text-decoration: none;
    border-radius: 6px;
    color: var(--color-white);
    background-color: transparent;
    cursor: pointer;
}

.main-page .nav .signin:hover
{
    color: #aaaaaa;
}

.main-page .nav .signup
{
    padding: 8px;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    border-radius: 6px;
    border: 1px solid var(--color-white);
    color: var(--color-white);
    background-color: transparent;
}

.main-page .nav .signup:hover
{
    color: #aaaaaa;
    border-color: #aaaaaa;
}

.main-page .nav .fa
{
    color: #aaaaaa;
}
/* NAV END */



/* NAV STICKY START */

.main-page .nav-sticky
{
    /* border: 2px solid #fff; */
    background-color: var(--body--);
    padding: 20px;
    position: absolute;
    /* margin-top: 850px; */
    margin-top: 780px;
    font-size: 18px;
    /* display: none; */
}

.main-page .nav-sticky a
{
    transition: all 0.2s ease-in-out;
    padding: 10px;
    color: var(--color-white);
    text-decoration: none;
}

.main-page .nav-sticky a:hover
{
    border-bottom: 2px solid rgb(102, 102, 197);
    color: rgb(102, 102, 197);
}

.main-page .nav-sticky .nav-sticky-right
{
    margin-left: 200px;
    float: right;
}

.main-page .nav-sticky .nav-sticky-right #sticky-trial
{
    /* font-weight: 700; */
    border: 2px solid #949494;
    border-radius: 6px;
}

.main-page .nav-sticky .nav-sticky-right #sticky-trial:hover
{
    border: 2px solid #fff;
    color: #fff;
}

.main-page .nav-sticky .nav-sticky-right #sticky-signup
{
    background-color: #fff;
    color: #000;
    border-radius: 6px;
}

/* NAV STICKY END */




/* SECTION-1 START */
.main-page .section-1
{
    margin-left: 16px;
    margin-top: 140px;
    width: 100%;
    height: 100%;
    display: flex;
    /* border: 2px solid #fff; */
}

.main-page .section-1 .content-1 
{
    width: 68%;
    height: 100%;
    /* border: 2px solid #fff; */
}

.main-page .section-1 .content-1 h1
{
    font-family: 'BIZ UDPGothic', sans-serif;
    margin-top: 0;
    color: #fff;
    font-size: 500%;
    line-height: 105px;
}

.main-page .section-1 .content-1 .para1
{
    font-size: 22px;
    color: var(--text-color--);
    letter-spacing: 1px;
    margin-top: -50px;
}

.main-page .section-1 h2
{
    color: #fff;
}

.main-page .section-1 .btn-group
{
    margin-top: 80px;
}

.main-page .section-1 .btn-group #email, #sign, #trial
{
    cursor: pointer;
    padding: 10px;
}

.main-page .section-1 .btn-group #sign
{
    border-color: transparent;
    background-color: var(--purple-1--);
    width: 190px;
    padding: 13px;
    color: var(--color-white);
    font-weight: 700;
    font-size: 16px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-left: -7px;
}

.main-page .section-1 .btn-group #hr1
{
    margin: 0 10px;
    display: inline-block;
    height: 43px;
    position: absolute;
}

.main-page .section-1 .btn-group #trial
{
    height: 49px;
    transition: all 0.2s ease-in-out;
    align-items: center;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid var(--purple-1--);
    width: 270px;
    padding: 13px;
    margin-left: 26px;
    border-radius: 6px;
}

.main-page .section-1 .btn-group #trial .sign-minus
{
    visibility: hidden;
}

/* .main-page .section-1 .btn-group #trial .sign-minus:hover
{
    visibility: visible;
} */

.main-page .section-1 .btn-group #trial:hover 
{
    border: 1px solid var(--color-white);
}

.main-page .section-1 .btn-group #email 
{
    padding: 13px;
    font-weight: 700;
    width: 160px;
    border-color: transparent;
    color: var(--color-black);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.main-page .section-1 .btn-group #email:focus
{
    outline: 3px solid rgb(0, 153, 255);
}

.main-page .section-1 .content-1 .para2
{
    letter-spacing: 1px;
    color: var(--text-color--);
    margin-top: 100px;
    font-size: 20px;
}

.main-page .section-1 .content-1 .images
{
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: space-between;
}

.main-page .section-1 .content-1 .images
{
    margin-top: 30px;
}

.main-page .section-1 .content-1 .prod
{
    margin-top: 120px;
}

.main-page .section-1 .content-1 .head-green
{
    margin-top: -3px;
    font-size: 45px;
    color: green;
}

.main-page .section-1 .content-1 .head-1
{
    margin-top: -35px;
    font-size: 45px;
    color: var(--color-white);
}

.main-page .section-1 .content-1 #image2
{
    margin-top: 130px;
    margin-left: 350px;
    background-color: transparent;
    position: absolute;
    width: 700px;
    height: 500px;
}

.main-page .section-2 .content-2 
{
    /* position: absolute; */
    margin-right: 0;
    width: 95%;
    border: 2px solid #fff;
    background-color: var(--body--);
}

.main-page .section-2 .content-2 .ani-image-1
{
    width: 100%;
    height: 500px;
    border-radius: 6px;
}

.main-page .section-2 .content-2 .ani-image-2
{
    position: absolute;
    margin-top: 250px;
    margin-left: -350px;
    width: 350px;
    height: 450px;
    border-radius: 8px;
}


/* SIDE CONTAINER */
.main-page .section-1 .animate
{
    text-align: center;
    width: 30px;
    height: 1100px;
    margin: 0 25px 0 25px;
    border: 2px solid #fff;
}

.main-page .section-1 .animate .zero
{
    opacity: 0.5;
    color: #fff;
    font-size: 15px;
    margin-bottom: 6px;
}

.main-page .section-1 .animate .line-1, .line-2, .line-3
{
    margin: auto;
    width: 3px;
    height: 265px;
    background-color: #fff;
}

.main-page .section-1 .animate .left
{
    margin: 12px 0;
    font-size: 24px;
    color: #fff;
}

.main-page .section-1 .animate .right
{
    margin-top: 12px 0;
    font-size: 24px;
    color: #fff;
}

.main-page .section-1 .animate .line-2
{
    height: 370px;
}

.main-page .section-1 .animate .briefcase
{
    margin: 27px 0;
    font-size: 24px;
    color: #fff;
}

.main-page .section-1 .animate .line-3
{
    height: 315px;
}

/* CONTENT-2 END */


/* CONTENT-3 START */


.main-page .section-2 .content-3
{
    width: 500px;
    height: 100%;
    border: 2px solid #fff;
    display: flex;
}

.main-page .section-2 .content-3 .animate-2
{
    margin: 0 60px 0 40px;
    width: 30px;
    height: 700px;
    border: 2px solid #fff;
}

.main-page .section-2 .content-3 .content-3-0
{
    width: 80%;
    height: 100%;
    border: 2px solid #fff;
}

.main-page .section-2 .content-3 .animate-2 .line-3-1
{
    margin: auto;
    width: 3px;
    height: 100%;
    background-color: #fff;
}

.main-page .section-2 .content-3 .content-3-1
{
    margin-top: 80px;
    width: 80%;
    height: 250px;
    border: 2px solid #fff;
}

.main-page .section-2 .content-3 .content-3-0 .content-3-1 .head-2
{
    color: #8b8b8b;
    font-weight: 400;
    font-size: 25px;
}

.main-page .section-2 .content-3 .content-3-0 .content-3-1 .span-2
{
    color: #fff;
}

.main-page .section-2 .content-3 .content-3-0 .content-3-1 .a-1
{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

.main-page .section-2 .content-3 .content-3-0 .content-3-1 .a-1:hover
{
    border-bottom: 2px solid #fff;
}

.main-page .section-2 .content-3 .content-3-0 .content-3-2
{
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    margin-top: 150px;
}

.main-page .section-2 .content-3 .content-3-0 .content-3-2 .para-3
{
    display: inline-block;
    color: green;
    border: 1px solid green;
    border-radius: 10px;
    padding: 2px;
    font-size: 13px;
}

.main-page .section-2 .content-3 .content-3-0 .content-3-2 .head-3
{
    margin-top: -5px;
    color: green;
    font-size: 60px;
}

.main-page .section-2 .content-3 .content-3-0 .content-3-2 .head-4
{
    margin-top: -50px;
    color: green;
    font-size: 60px;
}

.main-page .section-2 .content-3 .content-3-0 .content-3-2 .head-5
{
    margin-top: -40px;
    color: #fff;
}

.main-page .section-2 .content-3 .content-3-0 .content-3-2 .a-2
{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

.main-page .section-2 .content-3 .content-3-0 .content-3-2 .a-2:hover
{
    border-bottom: 2px solid #fff;
}

/* SECTION-2 END */



/* SECTION-3 START */

.main-page .section-3
{
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
}

.main-page .section-3 .con-1
{
    overflow: hidden;
    width: 95%;
    height: 350px;
    border: 1px solid #6b6b6b;
    background-color: #24292f;
    border-radius: 15px;
    margin: auto;
}

.main-page .section-3 .con-1 .con-1-img-1
{
    float: right;
    width: 50%;
    height: 100%;
    border-radius: 12px;
    box-shadow: 4px 4px 4px black;
}

.main-page .section-3 .con-1 .con-1-head-1
{
    margin-top: 80px;
    margin-left: 80px;
    color: #fff;
}

.main-page .section-3 .con-1 .con-1-head-2
{
    margin-left: 80px;
    color: #6b6b6b;
}

.main-page .section-3 .con-1 .con-1-a-1
{
    font-size: 22px;
    margin-left: 80px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}

.main-page .section-3 .con-1 .con-1-a-1:hover
{
    border-bottom: 2px solid #fff;
}

.main-page .section-3 .con-2
{
    margin-top: 25px;
    display: flex;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
}

.main-page .section-3 .con-2 .con-3
{
    overflow: hidden;
}

.main-page .section-3 .con-2 .con-3, .con-4
{
    margin: auto;
    width: 46%;
    height: 800px;
    border: 2px solid #fff;
    border-radius: 12px;
}

.main-page .section-3 .con-2 .con-3 .con-3-img-1
{
    width: 100%;
    height: 300px;
}

.main-page .section-3 .con-2 .con-4 .con-4-img-1
{
    width: 100%;
    height: 300px;
}

.main-page .section-3 .con-3 .con-3-1
{
    margin: auto;
    width: 300px;
    height: 500px;
    border: 2px solid #fff;
}

.main-page .section-3 .con-3 .con-3-1 .con-3-head-1
{
    margin-top: 80px;
    color: #fff;
}

.main-page .section-3 .con-3 .con-3-1 .con-3-head-2
{
    color: #6b6b6b;
}

.main-page .section-3 .con-3 .con-3-1 .con-3-a-1
{
    text-decoration: none;
    font-weight: 400;
    font-size: 22px;
    color: #fff;
}

.main-page .section-3 .con-3 .con-3-a-1:hover
{
    border-bottom: 2px solid #fff;
}

.main-page .section-3 .con-4 
{
    overflow: hidden;
}

.main-page .section-3 .con-4 .con-4-1
{
    margin: auto;
    width: 300px;
    height: 500px;
    border: 2px solid #fff;
}
/* SECTION-3 END */
